// Block Margin Utility Mixin
// Generates margin classes for top and bottom margins
// Usage: @include block-margin-classes;

@mixin block-margin-classes {
   // Top margin classes
   &.margin-top-sm {
      padding-top: var(--block-margin-sm, 2rem);

      &::before {
         top: 0;
         height: var(--block-margin-sm, 2rem);
      }
   }

   &.margin-top-md {
      padding-top: var(--block-margin-md, 4rem);

      &::before {
         top: 0;
         height: var(--block-margin-md, 4rem);
      }
   }

   &.margin-top-lg {
      padding-top: var(--block-margin-lg, 6rem);

      &::before {
         top: 0;
         height: var(--block-margin-lg, 6rem);
      }
   }

   // Bottom margin classes
   &.margin-bottom-sm {
      padding-bottom: var(--block-margin-sm, 2rem);

      &::after {
         bottom: 0;
         height: var(--block-margin-sm, 2rem);
      }
   }

   &.margin-bottom-md {
      padding-bottom: var(--block-margin-md, 4rem);

      &::after {
         bottom: 0;
         height: var(--block-margin-md, 4rem);
      }
   }

   &.margin-bottom-lg {
      padding-bottom: var(--block-margin-lg, 6rem);

      &::after {
         bottom: 0;
         height: var(--block-margin-lg, 6rem);
      }
   }

   // No margin classes
   &.margin-top-none::before,
   &.margin-bottom-none::after {
      display: none;
      content: none;
   }
}

// Apply Overlay Styles (Helper)
// Applies the backdrop styles directly - useful when state classes are on parent
// Uses CSS custom properties from .wswg-page-builder element
// Usage: @include backdrop-apply($backdrop-color, $border-color);
@mixin overlay-apply(
   $backdrop-color: var(--block-backdrop-color, transparent),
   $border-color: var(--block-border-color, #638ef1),
   $border-width: var(--block-border-width, 4px),
   $border-style: var(--block-border-style, solid)
) {
   outline: $border-width $border-style $border-color;
   outline-offset: calc(-1 * var(--block-border-width, 2px));
   box-shadow: inset 0 0 0 9999px $backdrop-color;
}
