// Block Margin Utility Mixin
// Generates margin classes for top and bottom margins
// Usage: @include block-margin-classes;

@mixin block-margin-classes {
   // Top margin classes
   &.margin-top-sm {
      padding-top: var(--block-margin-sm, 2rem);

      &::before {
         top: 0;
         height: var(--block-margin-sm, 2rem);
      }
   }

   &.margin-top-md {
      padding-top: var(--block-margin-md, 4rem);

      &::before {
         top: 0;
         height: var(--block-margin-md, 4rem);
      }
   }

   &.margin-top-lg {
      padding-top: var(--block-margin-lg, 6rem);

      &::before {
         top: 0;
         height: var(--block-margin-lg, 6rem);
      }
   }

   // Bottom margin classes
   &.margin-bottom-sm {
      padding-bottom: var(--block-margin-sm, 2rem);

      &::after {
         bottom: 0;
         height: var(--block-margin-sm, 2rem);
      }
   }

   &.margin-bottom-md {
      padding-bottom: var(--block-margin-md, 4rem);

      &::after {
         bottom: 0;
         height: var(--block-margin-md, 4rem);
      }
   }

   &.margin-bottom-lg {
      padding-bottom: var(--block-margin-lg, 6rem);

      &::after {
         bottom: 0;
         height: var(--block-margin-lg, 6rem);
      }
   }

   // No margin classes
   &.margin-top-none::before,
   &.margin-bottom-none::after {
      display: none;
      content: none;
   }
}
